[submodule "Roaming"]
	path = Roaming
	url = https://github.com/Biliverse/Roaming.git
[submodule "Global"]
	path = Global
	url = https://github.com/Biliverse/Global.git
[submodule "Enhanced"]
	path = Enhanced
	url = https://github.com/Biliverse/Enhanced.git
[submodule "BoxJs"]
	path = BoxJs
	url = https://github.com/Biliverse/BoxJs.git
[submodule "ADBlock"]
	path = ADBlock
	url = https://github.com/Biliverse/ADBlock.git
[submodule "Redirect"]
	path = Redirect
	url = https://github.com/Biliverse/Redirect.git
